<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".RecyclerNetwork"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMSSystem"
        tools:targetApi="31">
        <activity
            android:name=".ChatAct"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".ShowUsers"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".TabAct"
            android:exported="false"
            android:label="@string/title_activity_tab"
            android:theme="@style/Theme.SMSSystem.NoActionBar" />
        <activity
            android:name=".ProfileUpdate"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".PinVerification"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".EmailAuth"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".PhoneAuth"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".homeScreen"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".SignUP"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>